name: Generate Snake Animation

on:
  schedule:
    # Runs every 12 hours
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    name: Snake Animation
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      # Snake Animation
      - uses: actions/checkout@v3
      
      - uses: Platane/snk@v3
        id: snake-gif
        with:
          github_user_name: jamsylph
          outputs: |
            dist/github-contribution-grid-snake.svg?color_snake=#0969DA&color_dots=#ebedf000,#9BE9A8,#40C463,#30A14E,#216E39
            dist/github-contribution-grid-snake-dark.svg?color_snake=#00FFFF&color_dots=#16161600,#0e4429,#006d32,#26a641,#39d353
      
      - uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}